.statModal {
    display: none;
    position: fixed;
    z-index: 999; /* Ensure modal appears on top of other content */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  }
  
  .statModal-content {
    background-color: #fefefe;
    margin: 10% auto; /* Adjust modal position from top */
    padding: 20px;
    border: 1px solid #000; /* Set border */
    width: 80%;
    max-width: 600px; /* Limit maximum width */
    border-radius: 10px; /* Optional: Add border radius */
  }
  
  .close {
    color: #aaa;
    padding-top: 0%;
    float: right;
    font-size: 28px;
    font-weight: bold;
    align-items: start;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }